<div class="innerWrapper content">
  <h1>SHISHOをつくった人</h1>
  <p>
    どうも！SHISHOをつくった宮川 竜太朗と申します！ <br>
    京都大学化学工学を専攻しながらITエンジニアとしてインターンしています。
  </p>
  <h2>SHISHOをつくった目的</h2>
  <p>
    詳しくは、noteにまとめようとは思っているのですが、僕がプログラミングを独学で勉強したときにとても苦労したからです。 <br>
    自分が勉強したときは質問できる人に恵まれました。しかし、全ての人がそのような環境に恵まれているとは到底思えません。 <br>
    エンジニア不足が叫ばれている今の時代に、人に教えているだけの余裕がある人などそういないからです。 <br>
  </p>
  <p>
    確かに、progateなどの登場によりプログラミングの勉強がしやすい環境はどんどん整ってきました。 <br>
    しかし、それでも気軽に質問できる状況はなかなかありません。 <br>
    teratailなどのサービスはありますが、質問に対する敷居が高くあまり質問がされていないように思います。（あくまで僕個人の見解ですが、そう思っているひとも少なくないはず。。） <br>
  </p>
  <p>
    それと同時に勉強した人がアウトプットできる場もあまりないように感じていました。インプットだけでは勉強したとは言えません。
  </p>
  <p>
    そこで、気軽に質問できるサービスを作ることにしました。
  </p>
  <p>
    それがこの、SHISHOというアプリです。少し勉強した人が師匠になることで、気軽にかつ簡単に質問・アウトプットができるプラットフォームを提供します。
  </p>
  <h2>制作に関して</h2>
  <p>
    このアプリは約１週間で大学生が一人でつくったアプリです。 <br>
    頑張ればこれぐらいのアプリならすぐに作れんだと言うことをまず認識していただきたいです。 <br>
    正直めっちゃ辛かったです。１週間でやるとtwitterで宣言してしまったのでやめるわけにはいきませんでした。（200RT超え）
  </p>
  <p>
    使用した技術はruby on railsとjavascriptのreactです。サーバーはAWSのEC2、開発環境はdockerで構築しました。gitによるコード管理もしています。 <br>
    だいたい最近の流行りを使ってます。あと、普段の開発でやっていることと同じです。
  </p>
  <h2>プログラミング界隈を盛り上げたい！</h2>
  <p>
    正直これにつきます。だからやったんです。<br>
    一人の力には限界を感じたので、みんなで盛り上げていきたいな〜と考えております！ <br>
    これと並行してプログラミングコンサルというオンラインサロンもやっています。こちらも随時メンバー募集中です！ <br>
    参加はこちらから↓ <br>
    <a href="https://note.mu/dragontaro/n/n550a38a3261f">プログラミングコンサル</a>
  </p>
</div>
