<div class="titleWrapper top" style="background-image:url(<%= asset_path "background.png" %>)">
  <div class="backgroundOverRay">
    <h1>Leoparadise</h1>
    <p>
      自己主張の激しい大阪のおばちゃんは既製品のヒョウ柄では満足せず、 <br>
      オンリーワンのヒョウ柄を欲しているはず。 <br>
      そんなおばちゃんのニーズに答えよう。
    </p>
  </div>
</div>

<%= render 'partial/header_menu' %>

<div class="main">
  <div id="dropzone"></div>
</div>
<%= javascript_pack_tag 'hello_react' %>
