.m_footer {
  background-color: #788691;
  margin-top: 60px;
  padding: 30px;
  text-align: center;
  a {
    color: #fff;
  }
  .title {
    color: #fff;
    font-size: 30px;
    font-family: 'Jua', sans-serif;
  }
  ul {
    margin: 10px 0;
  }
  .copyRight {
    color: #ddd;
    font-size: 12px;
  }
}
