.m_skillZone {
  .buttonZone {
    margin: 10px 0 20px 0;
    button {
      display: inline-block;
      margin-right: 5px;
    }
  }
  input[type='text'] {
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 0 10px;
    &[name='description'] {
      width: 650px;
    }
    &[name='language'] {
      width: 120px;
      margin: 5px;
    }
  }
}
