<div>
  <div class="titleWrapper" style="background-image:url(<%= asset_path "background.png" %>)">
    <div class="backgroundOverRay">
      <h1>Leoparadise</h1>
    </div>
  </div>
  <%= render 'partial/header_menu' %>
  <div class="main">
    <h2>About</h2>
  </div>
</div>
