<div>
  <div class="titleWrapper" style="background-image:url(<%= asset_path "background.png" %>)">
    <div class="backgroundOverRay">
      <h1>Leoparadise</h1>
    </div>
  </div>
  <%= render 'partial/header_menu' %>
  <div class="main">
    <h2>Gallery</h2>
    <% @pictures.each do |picture| %>
      <ul class="resultIinner gallery">
          <li>
            <h3>Befor</h3>
            <img src="<%= picture.image.url %>">
          </li>
          <li>
            <h3>After</h3>
            <img src="<%= picture.converted_picture&.image&.url || "" %>">
          </li>
      </ul>
    <% end %>
  </div>
</div>
