<footer>
  <h3>Leoparadise</h2>
  <ul>
    <li>田中潤一</li>
    <li>星牟禮健也</li>
    <li>高橋剛</li>
    <li>宮川竜太朗</li>
  </ul>
  <div class="copy">
    <p>このアプリはTRUNK HACKATHON（2018.3.8〜2018.3.9）で徹夜で作成したアプリです。</p>
    <p>© ほぼ高専BOYS</p>
  </div>
</footer>
